{{define "header"}}
<header class="header">
    <div class="header__container">
        <a href="/" class="logo">
            <img src="frontend/public/logo.png" alt="СвойКвадрат" class="logo__image" />
        </a>

        <nav class="nav">
            <a href="/" class="nav__item">Главная</a>
            <a href="/personal" class="nav__item">Бронирования</a>
            <a href="/my-listings" class="nav__item">Объявления</a>
        </nav>

        <button class="btn btn--primary header__btn">Админ-панель</button>
    </div>
</header>
{{end}}