<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить объявление</title>
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="/frontend/add_listing/add-listing.css">
</head>
<body>
{{template "header"}}

<div class="container">
    <h1>Новое объявление</h1>
    <form class="listing-form__grid" id="listing-form" novalidate>
        <div class="form__container">
            <div class="image-upload">
                <img src="download-icon.png" alt="Изображение 3х4" id="preview-image">
                <label for="image-upload">Вставить из</label>
                <input type="file" id="image-upload" accept="image/*" style="display: none;">
            </div>
        </div>

        <div class="form__container">
            <div class="form-group">
                <select id="type" name="type" required>
                    <option value="">Тип помещения</option>
                    <option value="storage">Кладовка</option>
                    <option value="office">Офис</option>
                    <option value="warehouse">Склад</option>
                </select>
            </div>

            <div class="form-group">
                <input type="text" id="city" name="city" placeholder="Город" required>
            </div>

            <div class="form-group">
                <input type="text" id="address" name="address" placeholder="Адрес" required>
            </div>

            <div class="form-group">
                <input type="number" id="price" name="price" placeholder="Цена в месяц" min="1" required>
            </div>
        </div>

        <div class="form__container">
            <div class="form-group">
                <label for="description">Описание <span style="color: red;">*</span></label>
                <textarea id="description" name="description" rows="3" placeholder="Подробное описание помещения"
                          required></textarea>
            </div>

            <div class="form-group">
                <label for="user_comment">Комментарий (необязательно)</label>
                <textarea id="user_comment" name="user_comment" rows="2" placeholder="Дополнительная информация"></textarea>
            </div>
        </div>
    </form>

    <div class="buttons" style="display: flex; gap: .5rem;">
        <button class="btn btn-secondary">Отмена</button>
        <button type="submit" form="listing-form">Добавить объявление</button>
    </div>

</div>
{{template "footer"}}

<script src="/frontend/add_listing/add-listing.js"></script>
</body>
</html>